<%= link_to "Главная", :courses %>


<h1>Profile</h1>

<p>
    <strong>Добро пожаловать,</strong>
    <%= @current_user.first_name %> <%= @current_user.last_name %>
  </p>

<%= button_to "Quit", destroy_user_session_path, id: current_user.id, method: :delete %>
<%= link_to "Edit profile", edit_user_registration_path, class: 'show_profile' %>

<div id="courses">
  <h2>My courses</h2>
  <% @courses.each do |course| %>
    <%= render course %>
    <p>
      <%= link_to "Show this course", course %>
      <%= link_to "Remove this course", controller: "courses", action: "remove", id: course.id %>
    </p>
  <% end %>
</div>