<h1>Курс</h1>
<div id="<%= dom_id course %>">
    <p>
      <strong>Name:</strong>
      <%= course.name %>
    </p>
  
    <p>
      <strong>Description:</strong>
      <%= course.description %>
    </p>
  
    <p>
      <strong>Duration:</strong>
      <%= course.duration %>
    </p>

    <p>
      <strong>Date:</strong>
      <%= course.date %>
    </p>
  
    <p>
      <strong>Audit:</strong>
      <%= course.audit %>
    </p>

    <p>
      <strong>Price:</strong>
      <%= course.price %>
    </p>
  
  </div>